  <div class="BGF">
 </div>
 <table>
   <tr>
     <th>Gallons Requested</th>
     <th>Delivery Address</th>
     <th>Delivery Date</th>
     <th>Suggested Price</th>
     <th>Total Amount Due</th>
   </tr>
  {{#each data}}
    <tr>
      <td height="50">{{gallons}}</td>
      <td height="50">{{deliveryAddress}}</td>
      <td height="50">{{deliveryDate}}</td>
      <td height="50">{{price}}</td>
      <td height="50">{{total}}</td>
    </tr>
  {{/each}}
 </table>