  <div class="BGF">
 </div>
 <table>
   <tr>
     <th>Gallons Requested</th>
     <th>Delivery Address</th>
     <th>Delivery Date</th>
     <th>Suggested Price</th>
     <th>Total Amount Due</th>
   </tr>
  {{#each data}}
    <tr>
      <td height="50">{{dataValues.gallons}}</td>
      <td height="50">{{dataValues.deliveryAddress}}</td>
      <td height="50">{{dataValues.deliveryDate}}</td>
      <td height="50">{{dataValues.price}}</td>
      <td height="50">{{dataValues.total}}</td>
    </tr>
  {{/each}}
 </table>